<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RestServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRestService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/SOAP" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRestService" contract="ServiceReference.IRestService"
                name="BasicHttpBinding_IRestService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <RestServiceClient.Properties.Settings>
            <setting name="RestServiceClient_localhost_RestService" serializeAs="String">
                <value>http://localhost:5000/SOAP</value>
            </setting>
        </RestServiceClient.Properties.Settings>
    </applicationSettings>
</configuration>